<!-- templates/article_list.html -->
{% extends 'base.html' %}
{% block title %}Building{% endblock title %}
{% block content %}
{% for building in object_list %}
<div class="card">
<div class="card-header">
    <a href="{% url 'building_detail' building.pk %}"><span class="font-weight-bold">{{ building.name }}</span> &middot;</a>
    <div class="card-body">
            {% if user.is_superuser or user.is_stuff    %}
                <div>
                    <a href="{% url 'building_edit' building.pk %}">Edit</a> |
                    <a href="{% url 'building_delete' building.pk %}">Delete</a>
                </div>
            {% endif  %}
            {{building.apartment.all|length}} apartments 
        </div>
<!-- <div class="card-footer">
    {% for apartment in building.apartment.all%}
    <p>
        <span class="font-weight-bold">
            {{apartment.apartmentnumber}}&middot;
            
        </span>
        {{apartment.owner}}
        </p>
    {%endfor%}
</div> -->

</div>
    
<br />
{% endfor %}
{% endblock content %}